{% extends 'main/base.html' %}

{% block title %}
Страница о нас
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/style3.css"/>
    <div class="alert-warning mt-2">
        <h1 align=centr >Страница о нас</h1><br>
            <div class="text">
                <textarea placeholder=" " class="form-control"></textarea>
                <img align=left align=top src="{{ MEDIA_URL }}media/pri.png"  >
                <img align=left align=top src="{{ MEDIA_URL }}media/333.jpg"  >
                <img align=left align=top src="{{ MEDIA_URL }}media/4pla.png"  >
                <img align=left align=top src="{{ MEDIA_URL }}media/334.jpg"  >
                <img align=left align=top src="{{ MEDIA_URL }}media/335.jpg"  >
                <img align=left align=top src="{{ MEDIA_URL }}media/22.png"   >
                <img align=left align=top src="{{ MEDIA_URL }}media/23.png"   >
                <img align=left align=top src="{{ MEDIA_URL }}media/24.png"   >
                <img align=left align=top src="{{ MEDIA_URL }}media/bu20.png" >



            </div>
    </div>
{% endblock %}