{% extends 'main/base.html' %}

{% block title %}
Саздать задачуy
{% endblock %}

{% block content %}
   <h1>Добавить  !</h1>

        {{ task.name }}

        <form method="post">

        {% csrf_token %}

        {{ form.id }}{{ field.errors }}
<!--
        {{ form.dat_vre }}{{ field.errors }}
-->
        {{ form.dz }}{{ field.errors }}
        {{ form.zan }}{{ field.errors }}
        {{ form.dlit_z }}{{ field.errors }}
        {{ form.tema }}{{ field.errors }}
        {{ form.otm }}{{ field.errors }}
        {{ form.pro }}{{ field.errors }}


        <span>{{ error }}</span>
<span>{{ form.non_field_errors }}</span>


        <button type="submit" class="btn btn-success">Добавить</button>

    </form>

{% endblock %}