{% extends 'main/base.html' %}

{% block title %}
Саздать задачуy
{% endblock %}

{% block content %}
   <h1>Изменить  !</h1>

        {{ task.name }}

        <form method="post">

        {% csrf_token %}

        Время      {{ form.dat_vre }}
        Дом задание{{ form.dz }}
        Занятие    {{ form.zan }}
        Длительность{{ form.dlit_z }}
        Тема        {{ form.tema }}
        Отметка     {{ form.otm }}
        Проведение  {{ form.pro }}


        <span>{{ error }}</span>



        <button type="submit" class="btn btn-success">Добавить</button>
</form>


{% endblock %}