{% extends 'main/base.html' %}

{% block title %}
Расписание
{% endblock %}

{% block content %}

<div style="color: blueviolet;">
  <style type="text/css">
   TABLE {
    width: 1100px; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
   }
   TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
   }
   TH {
    background: #b0e0e6; /* Цвет фона */
   }

  </style>
{{ html_out }}
<!--{{ html_out|safe }}-->

</div>
{% endblock %}

